<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
  </head>
  <body>
    <div id="root">
      <%- include('./components/loading.html')  %>
    </div>
    <script type="text/javascript">
      window.globals = JSON.parse(`<%- globals %>`)
    </script>
    <script src='http://localhost:1998/js/chunk-vendors.js'></script>
    <script src='http://localhost:1998/js/chunk-common.js'></script>
    <script src='http://localhost:1998/js/index.js'></script>
  </body>
</html>
